<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fas fa-user"></i>
        </div>
        <div style="width: 500px">

        </div>
        <div class="f-info-links" style="font-size:30px;">&copy;OneCarStop Private Limited-Heramb Rallapally</div>
        <a href="/privacy">Privacy</a>
        <span class="gap"></span> 
        <a href="/Terms">Terms</a>
        <span class="gap"></span> 
        <a href="/Terms">Production</a>
    </div>
</footer>
