<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OneCarStop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/<%= username %>/PUC">PUC UPDATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="#">LICENSE RENEWAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/<%=username%>/FindUser">FIND A USER</a>
            </li>
            <li class="nav-item" id="addCarNavItem">
                <a class="nav-link" style="font-size:20px;" href="/<%= username %>/new">ADD YOUR CAR</a>
            </li>
            </ul>   
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/login">LOGIN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/signup">SIGNUP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:20px;" href="/logout">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
