<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OneCarStop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">SIGNUP</a>
            </li>
            <li class="nav-item" id="addCarNavItem">
                <a class="nav-link" href="#">ADD YOUR CAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PUC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LICENSE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FIND A USER</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Get the username from wherever you have it stored
    var username = "Heramb";

    // Find the "ADD YOUR CAR" nav item by its ID
    var addCarNavItem = document.getElementById("addCarNavItem");

    // Set the href attribute of the "ADD YOUR CAR" link with the username
    addCarNavItem.querySelector("a").href = "/" + username + "/new";
</script>
