<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAP FOR DRIVING TEST</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    <style>
        #map {
            position: absolute;
            width: 400px;
            height:400px;
            align-self: center;
        }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

    </style>
</head>
<body style="background-color: #0A0A23;color: #ffffff;">
    <div class="container"> 
        <div class="text_container">
           <div id="map"></div>
           <div style="width:600px;height:450px"></div>
        </div>
    </div>
    <% layout("layouts/boilerplate_personal.ejs") %>    
</body>
<script>
    let map_access_key = "pk.eyJ1Ijoic3VyeWEtcmFsbGFwYWxseSIsImEiOiJjbHhqdHNkNDExdjR3MmpzaXcwdHd4ZXBnIn0.SyV1GeMHz8Cx6jeu5HX-qg";
    mapboxgl.accessToken = map_access_key;
    const lng=<%-longitude%>;
    const lat=<%-latitude%>;

        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [lng, lat], // starting position [lng, lat]
        zoom: 11// starting zoom
        });
        
</script>