
<body>
    <div class="container"> 
        <div class="text_container">
            <h2 style="font-weight: bold;">Welcome <%=username %>!</h2>
                <h2 class="homepage_info">
                At OneCarStop, we're your one-stop destination for all things automotive sustainability. Whether you need to lodge a complaint, renew your license, or obtain your PUC (Pollution Under Control) certificate, we've got you covered.
                <br><br>
                Our mission is simple: to provide efficient and convenient services while contributing to a sustainable future. With our streamlined processes and dedication to environmental responsibility, we're committed to making your car ownership experience hassle-free and eco-friendly.
                <br><br>
                Imagine being able to handle all your car-related tasks with just a few clicks. No more wasted time waiting in line at government offices or dealing with complex forms. With OneCarStop, everything you need is right at your fingertips.

Need to lodge a complaint about a traffic violation? No problem. Want to renew your license before it expires? We've got you covered. Concerned about your vehicle's environmental impact? 
Obtain your PUC certificate effortlessly with us.
<br><br>
                Join us in driving towards a greener tomorrow. Explore our services and let us be your trusted partner on the road to sustainability.
                <br><br>
                Welcome aboard!</h2>
        </div>
        <div class="image_container">
            <img width="300px" height="250px" src="/images/Home_page.jpg" alt="carimage"/>
        </div>
    </div>
    <% layout("layouts/boilerplate_personal.ejs") %>    
</body>
</html>

</body>
</html>
