
<body>
    <div class="container">
        <div class="text_container">
            <h3 class="homepage_info">Welcome to our one-stop destination for all your vehicle compliance needs. 
                From renewing your Pollution Under Control (PUC) certificate to ensuring your license stays up-to-date, we've got you covered. 
                Additionally, our robust system allows you to access the necessary details of the user in question,
                empowering you with the information you need for resolution.</h3>
        </div>
        <div class="image_container">
            <img width="300px" height="250px" src="/images/Home_page.jpg" alt="carimage"/>
        </div>
    </div>
    <% layout("layouts/boilerplate.ejs") %>
    <% include ("../includes/navbar.ejs") %>
</body>
</html>
