
<body style="background-color: #0A0A23;color: #ffffff;">
    <div> 
        <div class="PUC_container">
                <p>This feature of ours helps you find a person , who caused you any kind of inconvience may it be-</p>
                <ul>
                <li>Overspeeding</li>
                <li>Impaired Driver</li>
                <li>Inattentive Driving</li>
                <li>Road Rage</li>
            </ul>
            <p>By reporting these issues, you contribute to making our roads safer for everyone. Together, we can promote responsible driving and hold those accountable who put others at risk. 
                Join us in creating a safer highway experience for all.</p>
        </div>
        <p style="font-family: 'Courier New', Courier, monospace;font-size: 20px;">Enter The CarPlate Number</p>
       <form method="post" action="/<%=username%>/FindUser">
        <input type="text" name="carPlateNumber" placeholder="Enter the CarPlate Number" required style="font-size:20px"/>
        <br>
        <button type="submit" style="font-size:25px">Submit</button>
        <br>
    </form>
</div>
    <% layout("layouts/boilerplate_personal.ejs") %>    
</body>
</html>

</body>
</html>
